<html>
<div style= "margin:0 auto; background-color:#383838 ;width:1200px;height:550px;border:2px solid white">
<div style="margin:20px auto ;background-color:black;width:1100px;height:500px;border:2px solid white">

<h3><img border="0" src="/images/mail.png"  width="300" height="220" />
</h3>
<h3>Mail send successfully</h3>
<%= link_to 'Home',root_path %> &nbsp; &nbsp; &nbsp;
<%= link_to 'About', sessions_aboutus_path %> &nbsp; &nbsp; &nbsp;
<%= link_to 'contact', sessions_contactby_path%>&nbsp; &nbsp; &nbsp;
<%= link_to 'Email',user1s_path%>
</html>
