<h1>Editing</h1>
  <%= form_for @hospital, :url=>{:action=>"update", :controller=>"hospital", :id => @hospital } do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<div class="actions">
<%= f.submit 'Update' %>
</div>
<% end %>
