<h1>association</h1>
<%= form_for @doctor, :url => {:action =>"asso", :controller =>"doctor" , :id => "hospital.id" } do |f| %>
<div class="field">
<%= f.label :name %><br />
<%= f.text_field :name %>
</div>


<%= f.submit 'list doctors' %>

<% end %>
